:root {
    font-family: 'Inter', sans-serif;
}
.main-heading {
    text-align: center;
}
.wrapper {
    display: grid;
    place-content: center;
    padding-top: 100px;
}
.input-values {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    gap: 16px;
}
.input-values label {
    display: flex;
}
.input-values label span {
    flex: 0 0 50%
}

#calculate-btn {
    align-self: flex-end;
}

.clamp-result {
    font-size: 1rem;
    font-weight: bold;
}
